tags
.idea/
.vscode/

.env
*.log
dist/
ts-out/
coverage/
dist/
node_modules/
src/config.ts
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
docs/.vitepress/cache/
index.html
.index-build-cache
.vs/